/* header */
header .logo a{
    position: relative;
    top: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: clamp(24px, 4vw, 39px);
    font-weight: bold;
    color: #000;
}

header nav a {
    font-family: "Roboto Condensed", sans-serif;
    margin-left: 52px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #343a40;
}

header .active{
    color: #a9a9a9;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 101px 0 39px;
    z-index: 10;
}

header .mobile-btn {
    display: none;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    z-index: 999;
}

header .mobile-btn span {
    display: block;
    width: 40px;
    height: 1px;
    background-color: #000;
}

#sub-header{
    position: unset;
    height: 55px;
    border-bottom: 1px solid #d1d1d1;
}

/* 아이패드  */
@media (max-width: 1024px) and (min-width: 768px) {
    header {
        padding: 15px;
    }

    header nav.accordion-menu {
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px;
        display: none;
        z-index: 999;
    }

    header nav.accordion-menu a {
        margin: 20px 0;
    }

    header .mobile-btn {
        display: flex;
        z-index: 99;
    }

    header nav.accordion-menu.show {
        display: flex;
        z-index: 99;
    }
}

#navMenu{
    z-index: 999;
}

/* 모바일 (767px 이하) */
@media (max-width: 767px) {
    header .logo a{
        position: relative;
        top: 0;
    }

    #main-header {
        padding: 15px;
    }

    header nav.accordion-menu {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 24px;
        display: none;
    }

    header nav.accordion-menu a {
        margin: 20px 0;
        width: 100%;
    }

    header .mobile-btn {
        display: flex;
    }

    header nav.accordion-menu.show {
        display: flex;
    }

    #sub-header{
        padding: 10px;
    }
    
}