
/* STYLIST - FASHION - VIEW ALL */
#stylist-fashion-view-all{
  overflow: unset;
}

#stylist-fashion-view-all .container{margin:20px 100px;}

#stylist-fashion-view-all .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    margin-top: 20px;
    margin-bottom:77px;
    grid-column-gap: 5vw;
    grid-row-gap: 1vw;
}

#stylist-fashion-view-all .grid img {
    width: 100%;
    height: auto;
    max-height: 320px;
    display: block;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

#stylist-fashion-view-all .grid span{
    font-family: 'Helvetica Neue', sans-serif;
    display: block;
    font-size:14px;
    padding:15px 0;
    text-align: center; 
    text-transform: uppercase;
}

#stylist-fashion-view-all .row-span-2 {
    grid-row: span 2;
}

#stylist-fashion-view-all .col-span-2 {
    grid-column: span 1;
}

#stylist-fashion-view-all .cover {
    grid-column: span 2;
    grid-row: span 1;
    height: 100%;
    max-height: 230px;
    /* aspect-ratio: 2 / 1.22; */
}

/* 노트북 */
@media (max-width: 1024px) {
  #stylist-fashion-view-all .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3vw;
    grid-row-gap: 2vw;
  }

  #stylist-fashion-view-all .grid img {
    height: auto;
    max-height: 300px;
  }

  #stylist-fashion-view-all .container {
    margin: 80px 40px;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  #stylist-fashion-view-all .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 4vw;
  }

  #stylist-fashion-view-all .grid img {
    max-height: 280px;
  }

  #stylist-fashion-view-all .grid span {
    font-size: 12px;
    padding: 10px 0;
  }

  #stylist-fashion-view-all .container {
    margin: 20px 20px;
  }
}